<header class="bg-dark py-5 mb-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">All Your Books Are Here</h1>
            <p class="lead fw-normal text-white-50 mb-0">Shop the books from Magic Book</p>
        </div>
    </div>
</header>

</section>

<section class="categories">

    <div class="dropdown mx-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Category
        </button>

        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {{#each category}}
            <li><a class="dropdown-item active" href="/categorywise?name={{this.Name}}">{{this.Name}}</a></li>
            {{/each}}
        </ul>

    </div>
</section>
<!-- Section-->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        {{!-- <h1>Products</h1> --}}
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                {{#if pro}}
                {{#each pro}}
                <div class="col-lg-3 col-md-6 mt-5">
                    <div class="single-product">
                        <a href="/productpage?id={{this._id}}"><img class="img" style="height: 180px;"
                                src="/productImages/{{this.Image}}" alt=""></a>
                        <div class="product-details">
                            <h6 style="font-size: 0.7rem;">{{this.Name}}</h6>
                            <div class="price">
                                <h6>₹{{this.Price}}</h6>

                            </div>
                            <div class="prd-bottom">

                                <a href="addtocart?id={{this._id}}" class="social-info">

                                    <p class="hover-text btn btn-primary" style="text-decoration: none; color:black"><i
                                            class="fa-solid fa-cart-shopping"></i></p>
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div style="display: flex;justify-content: center;">
                    <h4 class="text-danger">No Products</h4>

                </div>
                {{/if}}


</section>
<!-- Footer-->
<footer class="py-5 bg-dark mt-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
    </div>
</footer>