
<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
       
        <hr>
        {{#each invoiceData}}
      </div>

      <div id="invoice" class="container">
        <div class="col-md-12">
          <div class="text-center">
            {{!-- <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i> --}}
            <h3 class="pt-0 text-warning">Magic Book</h3>
          </div>

        </div>


        <div class="row">
          <div class="col-xl-8">
             <p class="text-muted">Invoice</p>
            <ul class="list-unstyled">
               <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">ID:</span>{{this.orderId}}</li>
                   <li class="text-muted">To: <span style="color:#5d9fc5 ;">{{this.addressId}}</span></li>
              {{/each}}
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">Creation Date: </span>{{date2}}</li>

                  {{#each invoiceData}}
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                  {{this.status}}</span></li>
                  {{#ifeq payment_method 1}}
                   <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="me-1 fw-bold">Payment Mode:</span><span class="badge bg-warning text-black fw-bold">
                  COD</span></li>
                  {{/ifeq}}
                  {{#ifeq payment_method 2}}
                   <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="me-1 fw-bold">Payment Mode:</span><span class="badge bg-warning text-black fw-bold">
                  RazorPay</span></li>
                  {{/ifeq}}
              {{!-- <li class="text-muted">Street, City</li>
              <li class="text-muted">State, Country</li>
              <li class="text-muted"><i class="fas fa-phone"></i> 123-456-789</li> --}}
            </ul>
          </div>
          <div class="col-xl-4">
            {{!-- <p class="text-muted">Invoice</p> --}}
            <ul class="list-unstyled">
              {{!-- <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">ID:</span>{{this.orderId}}</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">Creation Date: </span>{{this.date}}</li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                  {{this.status}}</span></li> --}}
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Qty</th>
                <th scope="col">Unit Price</th>
              </tr>
            </thead>
            {{#each product}}
            <tbody>

              <tr>
                <th scope="row">1</th>

                <td>{{this.name}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.price}}</td>


              </tr>

            </tbody>
            {{/each}}

          </table>
        </div>
        <div class="row">

          <div class="col-xl-3">
           
            <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                style="font-size: 25px;">₹{{this.total}}</span></p>
          </div>
        </div>
        <hr>
          <div class="col-xl-3 float-end">
          <div>
            <button style="margin-left: 1em; margin-top: 1em;" class=" btn btn-secondary"
              id="download">Download Invoice</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10">
            <p>Thank you for your purchase</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{/each}}



<script>
	window.onload = function () {
		document.getElementById("download")
			.addEventListener("click", () => {
				const invoice = this.document.getElementById("invoice");
				console.log(invoice);
				console.log(window);
				var opt = {
					margin: 1,
					filename: 'MagicBookInvoice.pdf',
					image: { type: 'jpeg', quality: 0.98 },
					html2canvas: { scale: 2 },
					jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
				};
				html2pdf().from(invoice).set(opt).save();
			})
	}
</script>

