{{!--  
 <div class="form">

  <form action="/login" class="col-md-4 mt-5"  method="post">
  <div class="mb-3 row">
    <h5>Login For Existing Users</h5>
    <label class="col-sm-2 col-form-label1">Email</label>
    <div class="col-sm-10">
      <input type="Email" required name="email" class="form-control1">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label1">Password</label>
    <div class="col-sm-10">
      <input type="password" required name="password" class="form-control1">
    </div>
  </div>
    <button type="submit" class="sub-btn">submit</button>
      <p class="new-user"><a href="/forget">Forgot Password</a></p>
      <p class="new-user"><a href="/register">New User Signup</a></p>
    
    {{#if message}}
    <p class="text-success">{{message}}</p>
    {{else if error}}
    <p class="text-danger">{{error}}</p>
    {{/if}}

           
  </form>
    
  </div> --}}

  <section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="" method="post">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg" name="email"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="/forget" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg bg-dark"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                                class="link-danger">Register</a></p>
                    </div>

                    {{#if message}}
                    <p class="text-success">{{message}}</p>
                    {{else if error}}
                    <p class="text-danger">{{error}}</p>
                    {{/if}}

                </form>
            </div>
        </div>
    </div>
   